@import url("../../.cache/wal/colors-waybar.css");

* {
	border: none;
	font-family: FontAwesome, Consolas;
	font-size: 15px;
	min-height: 10px;
	padding-bottom: 0;
}

window#waybar {
	background: @color0;
}

window#waybar.hidden {
	opacity: 0.2;
}


#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}

#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: @color0;
	transition: none;
}

#tags button {
	transition: none;
	color: @color0;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#tags button.occupied {
	transition: none;
	color: @color15;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #ABE9B3;
	border-top: 2px solid #ABE9B3;
	border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
	border-color: #E8A2AF;
	color: #E8A2AF;
}

#tags button.focused:hover {
	color: #E8A2AF;
}

#workspaces,
#tray,
.cava,
#network,
#custom-spotify,
#pulseaudio,
#backlight,
#tags,
#network,
#battery,
#pulseaudio,
#clock,
#memory,
#cpu,
#custom-launcher,
#custom-media {
	padding: 5px;
	color: @color15;
	background-color: transparent;
}

#custom-bluetooth {
	color: #2193ff;
}

#battery.charging,
#battery.plugged {
	color: @color15;
	background-color: transparent;
}

#custom-launcher {
	font-size: 27px;
}

#battery.critical:not(.charging) {
	background-color: transparent;
	color: @color15;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
    background-color: #1DB954;
    color: black;
}

@keyframes blink {
	to {
		background-color: #BF616A;
		color: #B5E8E0;
	}
}